FIREBASE_PROJECT_ID=coretech-chaves
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@coretech-chaves.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
